<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body id="fundoadicionar">
    
    
<div class="QUADRO" id="quadro">
    <div class="quadro-branco">
        <h3>Novo Item</h3>            
        
    <form action="/adicionar" method="POST">
            <label for="nome">Nome do item:</label>
            <input type="text" name="nome" placeholder="Nome do item">
            <label for="nome">Categoria:</label>
            <input type="text" name="categoria" placeholder="Categoria do item">
            <label for="nome">Quantidade:</label>
            <input type="number" name="quantidade" placeholder="Quantidade">
            <label for="nome">Preço do item:</label>
            <input type="text" name="preco" placeholder="Preço">
             <label for="foto">foto do seu Item:</label>
            <input type="file" id="foto" name="foto" accept="image/*">
            <button id="adicionar" type="submit" class="btn btn-primary"> Adicionar novo item</button>
    </form>

    <script>
        function mostrarQuadro() {
            document.getElementById('QUADRO').style.display = 'flex';
        }
        function esconderQuadro() {
            document.getElementById('QUADRO').style.display = 'none';
        }
    </script>
</body>
</html>