<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itens</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" type="image/icon" href="static/logosenai.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Função</th>
            <th scope="col">Estoque</th>
            <th scope="col">Imagem</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Parafuso</td>
            <td>para furar as coisas</td>
            <td>100</td>
            <td>
                <a href="#zoom-parafuso">
                <img id="parafuso" src="static/parafuso.jpg" alt="Foto do Produto">
                </a>
                <div id="zoom-parafuso" class="modal-zoom">
                    <a href="#" class="fechar-zoom">&times;</a>
                <img src="static/parafuso.jpg" alt="Parafuso Ampliada" class="img-ampliada">
                </div>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Martelo</td>
            <td>Bater nas coisas</td>
            <td>50</td>
            <a href="#zoom-Martelo">
                <img id="Martelo" src="static/Martelo.jpg" alt="Foto do Produto">
                </a>
                <div id="zoom-Martelo" class="modal-zoom">
                    <a href="#" class="fechar-zoom">&times;</a>
                <img src="static/Martelo.jpg" alt="Parafuso Ampliada" class="img-ampliada">
                </div>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Chave de fenda</td>
            <td>Apertar e afrouxar novos parafusos</td>
            <td>75</td>
            <a href="#zoom-Chave">
                <img id="Chave" src="static/Chave.webp" alt="Foto do Produto">
                </a>
                <div id="zoom-Chave" class="modal-zoom">
                <a href="#" class="fechar-zoom">&times;</a>
            <img src="static/Chave.webp" alt="Chave de fenda Ampliada" class="img-ampliada">
            </div>
          </tr>
        </tbody>
      </table>

      <a id="botaovoltar" href="{{ url_for('painel') }}" class="btn btn-primary">
        &larr; Voltar para a tela de Inicio
        </a>

    </body>
</html>