<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retirar</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <body id="fundoretirar">
    <select id="retire">
        <option selected value="Entrada">Entrada</option>
        <option value="Saída">Saída</option>
    </select>

    <form id="Quadro" method="POST">
            <label for="nome">Nome do item:</label>
            <input type="text" name="nome" placeholder="Nome do item">
            <label for="nome">Categoria:</label>
            <input type="text" name="categoria" placeholder="Categoria do item">
            <label for="nome">Quantidade:</label>
            <input type="number" name="quantidade" placeholder="Quantidade">
            <label for="nome">Preço do item:</label>
            <input type="text" name="preco" placeholder="Preço">
            <button id="retirar" type="submit" class="btn btn-primary"> Retire seu item</button>
    </form>
    
    <script>
        function mostrarQuadro() {
            document.getElementById('QUADRO').style.display = 'flex';
        }
        function esconderQuadro() {
            document.getElementById('QUADRO').style.display = 'none';
        }
    </script>

    <a id="botaovoltar" href="{{ url_for('painel') }}" class="btn btn-primary">
    &larr; Voltar para a tela de Inicio
    </a>
    
</body>
</html>