<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Usuario</title>
    <link rel="icon" type="image/icon" href="static/logosenai.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <img src="static/Lamine.jpeg" id="fundousuario">

    <h1 id="texto_usuario">Cadastrar Novo Usuario</h1>

    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="padding: 0px;">
    <div id="navbar" class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="static/logo2.jpeg" alt="Logo" style="height: 30px; width: auto; margin-right: 10px; vertical-align: middle;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/Itens">
        <img src="static/galpao2.png" alt="Ícone Itens" style="height: 20px; width: 20px; margin-right: 5px; vertical-align: middle;">Itens</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Cadastrar
        </a>
          <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/adicionar">Adicionar</a></li>
          <li><a class="dropdown-item" href="/retirar">Retirar</a></li>
          </ul>
        <li class="nav-usuarios">
          <a class="nav-link active" aria-current="page" href="/usuarios" vertical-align: middle;>Cadastrar Usuarios</a>
        </li>
        </li>
        </ul>
      </div>
  </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>


    <form id="usuarioform" action="/usuarios" method= "POST">
        <div class="campoo">
            <input id="nome_do_usuario" name="nome_usuario" type="text" placeholder="Nome do Usuario" required>
        </div>

        <div class="campo">
            <input id="senha_do_usuario" name="senha_usuario" type="password" placeholder="Senha do usuario" required>
        </div>

        <button id="cadastro" type="submit" class="btn">
            Cadastrar
        </button>

    </form>

    <a id="botao_voltar" href="{{ url_for('painel') }}" class="btn btn-primary">
    &larr; Voltar para a tela de Inicio
    </a>
    
</body>
</html>